/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

select, input, button {
  margin: 8px 4px;
  padding: 6px;
  font-size: 16px;
}